div{
    width: 30px;
    height: 50px;
    background-color: black;
    border-right:10px solid black ;
    border-top: 2px solid white;
}

body{
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

div>div{
    margin-left: 41px;
    margin-top: 50px;
}

span{
    position: absolute;
    left: 50px;
    top: 10px;
}

div:hover{
    position: relative;
}
