table{
border: 1px solid black ;
border-collapse: collapse;
text-align: center;
margin: 0 auto;
width: 80%;
}

td,th{
    border: 1px solid black;
}

th{
    background-color: blue;
    color: white;
}

h1{
width: 80%;
margin: auto;
background-color: rgb(45, 226, 0);
text-align: center;
color: white;
}
   
th.hor{
color: black;
background-color: rgb(0, 255, 229);
}

#ab{
    background-color: orange;
    color: white;
}
